@model myNotesApp.Models.scratchpad

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("save", "scratchpad"))
{
    


    <button type="submit" class="btn btn-primary save-note"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    <textarea class="note-text-area" name="content">@Model.content</textarea>
}
