
<aside class="note-sidebar">
    <section>
        <a href="#">This is a dummy Link</a>
        <a href="#">This is a dummy Link</a>
        <a href="#">This is a dummy Link</a>
    </section>
</aside>
